# Importing Libraries

In [118]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np

# PREPARING DATAFRAMES FOR COMPARISION

## Importing main file from excel sheet through which we have to compare our other two sub files

In [119]:
#calling excel sheet in pandas and creating data frame
MainFile = pd.read_excel('Main_File.xlsx', sheetname='Sheet1')

print("MainFile Column headings:")
print(MainFile.columns)
MainFile

MainFile Column headings:
Index(['LAST NAME', 'FIRST NAME', 'JO NO.', 'JO PLACE', 'Lead First Name',
       'Lead Last Name', 'POSITION'],
      dtype='object')

,LAST NAME,FIRST NAME,JO NO.,JO PLACE,Lead First Name,Lead Last Name,POSITION
0,Doe,John,ASR12T1,"Newark, NJ",Antoni,Mark,Jr.developer|| Marketing
1,Hally,Tom,PZH45M1,"Los Angels, CA",Kal,Michael,Sr. Manager

## renaming the columns because we have to compare the column values by their names

In [120]:
#renaming the columns because we have to compare the column values by their names
MainFile.rename(columns={'JO NO.':'JOB NO.','JO PLACE':'JOB PLACE'}, inplace=True)

## positioning the columns which will help us to compate the dataframes because we need same sequence of columns to compate two data frames

In [121]:
#positioning the columns
MainFile = MainFile[['FIRST NAME', 'LAST NAME', 'JOB NO.', 'JOB PLACE', 'Lead First Name',
       'Lead Last Name', 'POSITION']]

## importing Job_Compare sub file to compare with main file

In [122]:
Job_Compare = pd.read_excel('Job_Compare.xlsx', sheetname='Sheet1')

print("Job_Compare Column headings:")
print(Job_Compare.columns)
Job_Compare

Job_Compare Column headings:
Index(['FIRST NAME', 'LAST NAME', 'JOB NO.', 'JOB'], dtype='object')

              FIRST NAME LAST NAME  JOB NO.                       JOB
0                   John       Doe  ASR12T1        ASR12T1- Newark NJ
1                    Tom     Hally  PZH45M1  PZH45M1- Los Angels,  CA
2                    NaN       NaN      NaN                       NaN
3                    NaN       NaN      NaN                       NaN
4                    NaN       NaN      NaN                       NaN
5  Job compare test file       NaN      NaN                       NaN
6             test fiile       NaN      NaN                       NaN

## removing junk value which were only for understanding

In [123]:
#to avoid extra values
Job_Compare=Job_Compare.head(2)
Job_Compare

  FIRST NAME LAST NAME  JOB NO.                       JOB
0       John       Doe  ASR12T1        ASR12T1- Newark NJ
1        Tom     Hally  PZH45M1  PZH45M1- Los Angels,  CA

## spliting the job column because it contains two values in it."JOB PLACE" & "JOB NO."

In [124]:
# new data frame with split value columns 
new = Job_Compare["JOB"].str.split("- ", n = 1, expand = True)

In [125]:
#changing column values
Job_Compare["JOB PLACE"]= new[1]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [126]:
Job_Compare

  FIRST NAME LAST NAME  JOB NO.                       JOB        JOB PLACE
0       John       Doe  ASR12T1        ASR12T1- Newark NJ        Newark NJ
1        Tom     Hally  PZH45M1  PZH45M1- Los Angels,  CA  Los Angels,  CA

## deleting JOB column because there will be no need of it

In [127]:
Job_Compare.drop("JOB", axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [128]:
Job_Compare

  FIRST NAME LAST NAME  JOB NO.        JOB PLACE
0       John       Doe  ASR12T1        Newark NJ
1        Tom     Hally  PZH45M1  Los Angels,  CA

## importing Lead_Compare sub file to compare with main file

In [129]:
Lead_Compare = pd.read_excel('Lead_Compare.xlsx', sheetname='Sheet1')

print("Lead_Compare Column headings:")
print(Lead_Compare.columns)
Lead_Compare

Lead_Compare Column headings:
Index(['FIRST NAME', 'LAST NAME', 'TITLE', 'Lead Full name'], dtype='object')

            FIRST NAME LAST NAME                     TITLE Lead Full name
0                 John       Doe  Jr.developer|| Marketing    Mark Antoni
1                  Tom     Hally               Sr. Manager    Micheal Kal
2                  NaN       NaN                       NaN            NaN
3                  NaN       NaN                       NaN            NaN
4                  NaN       NaN                       NaN            NaN
5  Test extracted file       NaN                       NaN            NaN
6      Lead comparison       NaN                       NaN            NaN

## removing junk value which were only for understanding

In [130]:
#to avoid extra values

Lead_Compare=Lead_Compare.head(2)
Lead_Compare

  FIRST NAME LAST NAME                     TITLE Lead Full name
0       John       Doe  Jr.developer|| Marketing    Mark Antoni
1        Tom     Hally               Sr. Manager    Micheal Kal

## spliting the Lead Full name column because it contains two values in it."Lead Last Name" & "Lead First Name"

In [131]:
# new data frame with split value columns 
new = Lead_Compare["Lead Full name"].str.split(" ", n = 1, expand = True)

# adding new columns from splited column

In [132]:
Lead_Compare["Lead Last Name"]= new[0]
Lead_Compare["Lead First Name"]= new[1]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [133]:
Lead_Compare

,FIRST NAME,LAST NAME,TITLE,Lead Full name,Lead Last Name,Lead First Name
0,John,Doe,Jr.developer|| Marketing,Mark Antoni,Mark,Antoni
1,Tom,Hally,Sr. Manager,Micheal Kal,Micheal,Kal

## deleting Lead Full name column because there will be no need of it

In [134]:
Lead_Compare.drop("Lead Full name", axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [135]:
Lead_Compare

,FIRST NAME,LAST NAME,TITLE,Lead Last Name,Lead First Name
0,John,Doe,Jr.developer|| Marketing,Mark,Antoni
1,Tom,Hally,Sr. Manager,Micheal,Kal

In [136]:
Lead_Compare.rename(columns={'TITLE':'POSITION'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:2834: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

# NOW COMPARING MAIN FILE AND SUB FILES

# Selecting the columns for comparision

In [137]:
cols = list(Job_Compare.columns.values)

In [138]:
df_MainFile_Job_CompareColumns=MainFile[cols]

In [139]:
df_MainFile_Job_CompareColumns

  FIRST NAME LAST NAME  JOB NO.        JOB PLACE
0       John       Doe  ASR12T1       Newark, NJ
1        Tom     Hally  PZH45M1  Los Angels,  CA

## Comparing main file and job_compare file.

In [140]:
#comparing main file and file 1
df_MainFile_Job_CompareColumns=df_MainFile_Job_CompareColumns.sort_index().sort_index(axis=1) == Job_Compare.sort_index().sort_index(axis=1)

## True indicates thar the values are same in both files
## False indicates thar the values are different in both files

In [141]:

df_MainFile_Job_CompareColumns

  FIRST NAME JOB NO. JOB PLACE LAST NAME
0       True    True     False      True
1       True    True      True      True

In [142]:
df_MainFile_Job_Compare=df_MainFile_Job_CompareColumns.replace({True: "Value is Same",False: "Value is Changed"})
# df_MainFile_Job_Compare=df_MainFile_Job_CompareColumns.replace(False, "Value is Changed")
df_MainFile_Job_Compare

      FIRST NAME        JOB NO.         JOB PLACE      LAST NAME
0  Value is Same  Value is Same  Value is Changed  Value is Same
1  Value is Same  Value is Same     Value is Same  Value is Same

## saving to csv

In [143]:
df_MainFile_Job_Compare.to_csv('MainFile_Job_Compare_Comparision.csv')

# Selecting the columns for comparision

In [144]:
cols = list(Lead_Compare.columns.values)

In [145]:
df_MainFile_Lead_CompareColumns=MainFile[cols]

In [146]:
df_MainFile_Lead_CompareColumns

,FIRST NAME,LAST NAME,POSITION,Lead Last Name,Lead First Name
0,John,Doe,Jr.developer|| Marketing,Mark,Antoni
1,Tom,Hally,Sr. Manager,Michael,Kal

## Comparing main file and job_compare file.

In [147]:
df_MainFile_Lead_CompareColumns=df_MainFile_Lead_CompareColumns.sort_index().sort_index(axis=1) == Lead_Compare.sort_index().sort_index(axis=1)

## True indicates thar the values are same in both files
## False indicates thar the values are different in both files

In [148]:

df_MainFile_Lead_CompareColumns

  FIRST NAME LAST NAME Lead First Name Lead Last Name POSITION
0       True      True            True           True     True
1       True      True            True          False     True

In [149]:
df_MainFile_Lead_Compare=df_MainFile_Lead_CompareColumns.replace({True: "Value is Same",False: "Value is Changed"})
# df_MainFile_Job_Compare=df_MainFile_Job_CompareColumns.replace(False, "Value is Changed")
df_MainFile_Lead_Compare

,FIRST NAME,LAST NAME,Lead First Name,Lead Last Name,POSITION
0,Value is Same,Value is Same,Value is Same,Value is Same,Value is Same
1,Value is Same,Value is Same,Value is Same,Value is Changed,Value is Same

## saving to csv

In [150]:
df_MainFile_Lead_Compare.to_csv('MainFile_Lead_Compare_Comparision.csv')