In [32]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np

In [33]:
#calling excel sheet in pandas and creating data frame
MainFile = pd.read_excel('MainFile.xlsx', sheetname='Sheet1')

print("MainFile Column headings:")
print(MainFile.columns)
MainFile

MainFile Column headings:
Index(['LAST NAME', 'FIRST NAME', 'JO NO.', 'JO PLACE', 'Lead First Name',
       'Lead Last Name', 'POSITION'],
      dtype='object')

,LAST NAME,FIRST NAME,JO NO.,JO PLACE,Lead First Name,Lead Last Name,POSITION
0,Doe,John,ASR12T1,"Newark, NJ",Antoni,Mark,Jr.developer|| Marketing
1,Hally,Tom,PZH45M1,"Los Angels, CA",Kal,Michael,Sr. Manager

In [34]:
#renaming the columns because we have to compare the column values by their names
MainFile.rename(columns={'JO NO.':'JOB NO.','JO PLACE':'JOB PLACE'}, inplace=True)

In [35]:
#positioning the columns
MainFile = MainFile[['FIRST NAME', 'LAST NAME', 'JOB NO.', 'JOB PLACE', 'Lead First Name',
       'Lead Last Name', 'POSITION']]

In [36]:
Child_1 = pd.read_excel('Child_1.xlsx', sheetname='Sheet1')

print("Child_1 Column headings:")
print(Child_1.columns)
Child_1

Child_1 Column headings:
Index(['FIRST NAME', 'LAST NAME', 'JOB NO.', 'JOB'], dtype='object')

              FIRST NAME LAST NAME  JOB NO.                       JOB
0                   John       Doe  ASR12T1        ASR12T1- Newark NJ
1                    Tom     Hally  PZH45M1  PZH45M1- Los Angels,  CA
2                    NaN       NaN      NaN                       NaN
3                    NaN       NaN      NaN                       NaN
4                    NaN       NaN      NaN                       NaN
5  Job compare test file       NaN      NaN                       NaN
6             test fiile       NaN      NaN                       NaN

In [37]:
#to avoid extra values
Child_1=Child_1.head(2)
Child_1

  FIRST NAME LAST NAME  JOB NO.                       JOB
0       John       Doe  ASR12T1        ASR12T1- Newark NJ
1        Tom     Hally  PZH45M1  PZH45M1- Los Angels,  CA

In [38]:
# new data frame with split value columns 
new = Child_1["JOB"].str.split("- ", n = 1, expand = True)

In [39]:
#changing column values
Child_1["JOB PLACE"]= new[1]

D:\anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [40]:
Child_1

  FIRST NAME LAST NAME  JOB NO.                       JOB        JOB PLACE
0       John       Doe  ASR12T1        ASR12T1- Newark NJ        Newark NJ
1        Tom     Hally  PZH45M1  PZH45M1- Los Angels,  CA  Los Angels,  CA

In [41]:
Child_1.drop("JOB", axis=1, inplace=True)

D:\anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [42]:
Child_1

  FIRST NAME LAST NAME  JOB NO.        JOB PLACE
0       John       Doe  ASR12T1        Newark NJ
1        Tom     Hally  PZH45M1  Los Angels,  CA

In [43]:
Child_2 = pd.read_excel('Child_2.xlsx', sheetname='Sheet1')

print("Child_2 Column headings:")
print(Child_2.columns)
Child_2

Child_2 Column headings:
Index(['FIRST NAME', 'LAST NAME', 'TITLE', 'Lead Full name'], dtype='object')

            FIRST NAME LAST NAME                     TITLE Lead Full name
0                 John       Doe  Jr.developer|| Marketing    Mark Antoni
1                  Tom     Hally               Sr. Manager    Micheal Kal
2                  NaN       NaN                       NaN            NaN
3                  NaN       NaN                       NaN            NaN
4                  NaN       NaN                       NaN            NaN
5  Test extracted file       NaN                       NaN            NaN
6      Lead comparison       NaN                       NaN            NaN

In [44]:
#to avoid extra values

Child_2=Child_2.head(2)
Child_2

  FIRST NAME LAST NAME                     TITLE Lead Full name
0       John       Doe  Jr.developer|| Marketing    Mark Antoni
1        Tom     Hally               Sr. Manager    Micheal Kal

In [45]:
# new data frame with split value columns 
new = Child_2["Lead Full name"].str.split(" ", n = 1, expand = True)

In [46]:
#adding new columns from splited column
Child_2["Lead Last Name"]= new[0]
Child_2["Lead First Name"]= new[1]

D:\anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
D:\anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [47]:
Child_2

,FIRST NAME,LAST NAME,TITLE,Lead Full name,Lead Last Name,Lead First Name
0,John,Doe,Jr.developer|| Marketing,Mark Antoni,Mark,Antoni
1,Tom,Hally,Sr. Manager,Micheal Kal,Micheal,Kal

In [48]:
Child_2.drop("Lead Full name", axis=1, inplace=True)

D:\anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [49]:
Child_2

,FIRST NAME,LAST NAME,TITLE,Lead Last Name,Lead First Name
0,John,Doe,Jr.developer|| Marketing,Mark,Antoni
1,Tom,Hally,Sr. Manager,Micheal,Kal

In [50]:
Child_2.rename(columns={'TITLE':'POSITION'}, inplace=True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:2834: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [51]:
cols = list(Child_1.columns.values)

In [52]:
df_MainFile_Child_1Columns=MainFile[cols]

In [53]:
df_MainFile_Child_1Columns

  FIRST NAME LAST NAME  JOB NO.        JOB PLACE
0       John       Doe  ASR12T1       Newark, NJ
1        Tom     Hally  PZH45M1  Los Angels,  CA

In [54]:
#comparing main file and file 1
df_MainFile_Child_1Columns=df_MainFile_Child_1Columns.sort_index().sort_index(axis=1) == Child_1.sort_index().sort_index(axis=1)

In [55]:
#True indicates thar the values are same in both files
#False indicates thar the values are different in both files
df_MainFile_Child_1Columns

  FIRST NAME JOB NO. JOB PLACE LAST NAME
0       True    True     False      True
1       True    True      True      True

In [56]:
#saving to csv
df_MainFile_Child_1Columns.to_csv('MainFile_Child_1_Comparision.csv')

In [57]:
cols = list(Child_2.columns.values)

In [58]:
df_MainFile_Child_2Columns=MainFile[cols]

In [59]:
df_MainFile_Child_2Columns

,FIRST NAME,LAST NAME,POSITION,Lead Last Name,Lead First Name
0,John,Doe,Jr.developer|| Marketing,Mark,Antoni
1,Tom,Hally,Sr. Manager,Michael,Kal

In [60]:
#comparing main file and file 2
df_MainFile_Child_2Columns=df_MainFile_Child_2Columns.sort_index().sort_index(axis=1) == Child_2.sort_index().sort_index(axis=1)

In [61]:
#True indicates thar the values are same in both files
#False indicates thar the values are different in both files
df_MainFile_Child_2Columns

  FIRST NAME LAST NAME Lead First Name Lead Last Name POSITION
0       True      True            True           True     True
1       True      True            True          False     True

In [62]:
#saving to csv
df_MainFile_Child_2Columns.to_csv('MainFile_Child_2_Comparision.csv')